<template>
  <div class="row">
    <div class="col col-lg-12"></div>
    <div class="card">
      <!-- <img src="" class="rounded float-end" alt="..."> -->
      <div class="input-group my-3">
        <input
          type="text"
          class="form-control"
          placeholder="Busqueda"
          v-model="banda"
        />
        <button
          class="btn btn-primary"
          type="button"
          @click="llamar"
        >
          Buscar
        </button>
      </div>
        <!-- <span v-if="buscando">
            Buscando...
        </span> -->
        <div class="card-body">
          <div v-for="(info, index) in infoBanda" :key="index">
            <img :src="info.strArtistThumb" class="img-fluid rounded-end" alt="...">
            <h3 class="my-3">Nombre: {{ info.strArtist }}</h3>
            <h4>Estilo Musical: {{ info.strStyle }}</h4>
            <p>
              {{ info.strBiographyES }}
            </p>
          </div>
        </div>
    </div>
  </div>
</template>

<script>
import { computed, ref } from 'vue';
import { useStore } from 'vuex';
export default {

    setup(){
        const banda = ref('')

        const store = useStore()

        const infoBanda = computed(() => {
            return store.state.banda
        })

        const llamar = () => {
            //console.log(banda.value)
            store.dispatch('getBanda', banda.value)
        }

        return{
            llamar,
            banda,
            infoBanda
        }
    }
};
</script>

<style>
</style>