<template>
  <div class="container">
    <Title />
    <Info />
  </div>
</template>

<script>
import Title from "./components/Title.vue";
import Info from "./components/Info.vue";

export default {
  name: "App",
  components: {
    Title,
    Info,
  },
};
</script>

<style>
</style>
